*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Circe", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #10181f;
  transition: all 0.3s ease;
  height: 100%;
  position: relative;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a,
li,
ul,
ol {
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

/* end reset css */

